body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.stylish-color-dark {
  background-color: #343a40;
  color: white;
}
.stylish-color-dark a {
  color: #b5caca;
}

.navbar-brand {
  width: 150px;
}
.navbar-brand img {
  width: 140px;
}

.gallery_product {
  margin-bottom: 30px;
  float: left;
}

.gallery_product img {
  width: 100%;
  cursor: pointer;
}
